<div class="form-container mb-4">
  <p class="heading">Confirm your email</p>
  <p class="content">
    We have sent OTP to registered email, please confirm your email
  </p>

  <h1><%= @otp %></h1>
</div>